# OS X
.DS_Store

# other, likely will change
VirtualMorphometricsMeetUp_emails.txt
VMM_PresentationOrder_May20.txt
organizers.txt
VirtualMorphometricsMeetUp_email_list_24_08_2020.txt
breakout_room_template.csv
*.pdf
*.PDF
*.log
*.ppt
*.pptx
